<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Epfo automation{% endblock %}</title>
    {% comment %} {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}"> {% endcomment %}
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>
    {% block extra_js %}{% endblock %}
</body>
</html>
